.container-favorite{
    display: flex;
    justify-content: center;
    background-color: black; 
}

.favorite{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    background-color: #0c120e;
    padding: 0 0 20px 0;
}

.title-favorite{
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 10px 0 20px 20px;
}

.container-card{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card>img{
    width: 180px;
    height: 250px;
    border-radius: 10px;
}

